<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.lt.entity.Product">
        <id property="productId" column="productId" jdbcType="INTEGER"/>
        <result property="productName" column="productName" jdbcType="VARCHAR"/>
        <result property="productTitle" column="productTitle" jdbcType="VARCHAR"/>
        <result property="productPrice" column="productPrice" jdbcType="DECIMAL"/>
        <result property="productSalePrice" column="productSalePrice" jdbcType="DECIMAL"/>
        <result property="productCreateDate" column="productCreateDate" jdbcType="TIMESTAMP"/>
        <result property="productCategoryId" column="productCategoryId" jdbcType="INTEGER"/>
        <result property="productIsEnabled" column="productIsEnabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        productId,productName,productTitle,
        productPrice,productSalePrice,productCreateDate,
        productCategoryId,productIsEnabled
    </sql>

    <!--根据商品id获取商品详细信息-->
    <select id="getDetailedProduct" resultMap="getDetailedProduct">
        select productId, productName, productPrice, productSalePrice
        from product
        where productId = #{productId}
          and productIsEnabled != 1
    </select>

    <!--封装商品详细信息-->
    <resultMap id="getDetailedProduct" type="com.lt.vo.product.DetailedProductVO">
        <id property="productId" column="productId"/>
        <result property="productName" column="productName"/>
        <result property="productPrice" column="productPrice"/>
        <result property="productSalePrice" column="productSalePrice"/>
        <!--一个商品对应多张图片放大图-->
        <collection property="singleProductImageList"
                    ofType="string"
                    column="productId"
                    select="getSingleImage"/>
        <!--一个商品对应多张不可放大图-->
        <collection property="detailProductImageList"
                    ofType="string"
                    column="productId"
                    select="getDetailImage"/>
        <!--一个商品对应多个商品参数-->
        <collection property="productParameterList"
                    ofType="com.lt.vo.product.ProductParameter"
                    column="productId"
                    select="getProductParameter"/>
    </resultMap>

    <!--获取可放大图片-->
    <select id="getSingleImage" resultType="string">
        select productImageSrc
        from productimage
        where productImageProductId = #{productId}
          and productImageType = 0
        limit 5
    </select>

    <!--获取不可放大图片-->
    <select id="getDetailImage" resultType="string">
        select productImageSrc
        from productimage
        where productImageProductId = #{productId}
          and productImageType = 1
    </select>

    <!--获取对应的商品参数-->
    <select id="getProductParameter" resultType="com.lt.vo.product.ProductParameter">
        select p.propertyName, pv.propertyValueValue
        from propertyvalue pv
                 left join property p on pv.propertyValuePropertyId = p.propertyId
        where propertyValueProductId = #{productId}
        order by p.propertyId
    </select>

    <!--根据分类id获取商品信息-->
    <select id="getProductByCategoryId" resultMap="getProductByCategoryId">
        select productId, productName, productSalePrice, categoryName
        from product
        inner join category c on c.categoryId = product.productCategoryId
        where categoryId = #{categoryId}
        and productIsEnabled != 1
        <if test="sortField != null and sortField != ''">
            order by productSalePrice
            <choose>
                <when test="sortOrder == 'desc'.toString()">
                    desc
                </when>
                <when test="sortOrder == 'asc'.toString()">
                    asc
                </when>
            </choose>
        </if>
    </select>

    <!--封装商品信息数据-->
    <resultMap id="getProductByCategoryId" type="com.lt.vo.product.ProductSearchVO">
        <id property="productId" column="productId" />
        <result property="productName" column="productName" />
        <result property="categoryName" column="categoryName" />
        <result property="productSalePrice" column="productSalePrice"/>
        <!--获取对应的可放大图片-->
        <collection property="productImageSrcList"
                    ofType="string"
                    column="productId"
                    select="getSingleImage" />
        <!--获取对应的评论个数-->
        <collection property="reviewCount"
                     select="getReviewCount"
                     javaType="integer"
                     column="productId" />
        <!--获取对应的总销量数-->
        <collection property="totalTransactionCount"
                     select="getTotalTransactionCount"
                     javaType="integer"
                     column="productId" />
    </resultMap>

    <!--获取对应的评论个数-->
    <select id="getReviewCount" resultType="integer">
        select count(*)
        from review
        where reviewProductId = #{productId}
    </select>

    <select id="getTotalTransactionCount" resultType="integer">
        select sum(productOrderItemNumber)
        from productorderitem
        where productOrderItemProductId = #{productId}
    </select>
</mapper>
