<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.ProductOrderItemMapper">

    <resultMap id="BaseResultMap" type="com.lt.entity.ProductOrderItem">
        <id property="productOrderItemId" column="productOrderItemId" jdbcType="INTEGER"/>
        <result property="productOrderItemNumber" column="productOrderItemNumber" jdbcType="SMALLINT"/>
        <result property="productOrderItemPrice" column="productOrderItemPrice" jdbcType="DECIMAL"/>
        <result property="productOrderItemProductId" column="productOrderItemProductId" jdbcType="INTEGER"/>
        <result property="productOrderItemOrderId" column="productOrderItemOrderId" jdbcType="INTEGER"/>
        <result property="productOrderItemUserId" column="productOrderItemUserId" jdbcType="INTEGER"/>
        <result property="productOrderItemUserMessage" column="productOrderItemUserMessage" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        productOrderItemId,productOrderItemNumber,productOrderItemPrice,
        productOrderItemProductId,productOrderItemOrderId,productOrderItemUserId,
        productOrderItemUserMessage
    </sql>

    <select id="getMyCart" resultType="com.lt.vo.cart.CartVO">
        select productOrderItemId,
               productOrderItemNumber,
               productOrderItemPrice,
               productId,
               categoryId,
               categoryName,
               productName,
               productSalePrice,
               categoryName,
               (select productImageSrc
                from productimage
                where productImageProductId = productId
                  and productImageType = 0
                limit 1) productImageSrc
        from productorderitem
                 inner join product on productOrderItemProductId = productId
                 inner join category on categoryId = productCategoryId
        where productOrderItemUserId = #{userId}
          and productOrderItemOrderId is null
    </select>

    <select id="getCartListByItemId" resultType="com.lt.vo.cart.CartVO">
        select productOrderItemId,
        productOrderItemNumber,
        productOrderItemPrice,
        productId,
        categoryId,
        categoryName,
        productName,
        productSalePrice,
        categoryName,
        (select productImageSrc
        from productimage
        where productImageProductId = productId
        and productImageType = 0
        limit 1) productImageSrc
        from productorderitem
        inner join product on productOrderItemProductId = productId
        inner join category on categoryId = productCategoryId
        where productOrderItemId in
        <foreach collection="orderItemIdList" item="orderItemId" separator="," open="(" close=")">
            #{orderItemId}
        </foreach>
        and productOrderItemOrderId is null
    </select>

    <select id="getCartListByOrderId" resultType="com.lt.vo.cart.ConfirmCartVO">
        select productOrderItemId,
               productOrderItemNumber,
               productOrderItemPrice,
               productId,
               categoryId,
               categoryName,
               productName,
               productSalePrice,
               categoryName,
               (select productImageSrc
                from productimage
                where productImageProductId = productId
                  and productImageType = 0
                limit 1) productImageSrc,
               productOrderPayDate,
               productOrderCode
        from productorderitem
                 inner join product on productOrderItemProductId = productId
                 inner join category on categoryId = productCategoryId
                 inner join productorder on productOrderItemOrderId = productOrderId
        where productOrderItemOrderId = #{productOrderId}
    </select>

    <update id="updateOrderItem">
        update productorderitem
        set productOrderItemUserMessage = #{productOrderItemUserMessage},
            productOrderItemOrderId     = #{productOrderId}
        where productOrderItemId = #{productOrderItemId}
    </update>
</mapper>
