<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.ProductOrderMapper">

    <resultMap id="BaseResultMap" type="com.lt.entity.ProductOrder">
        <id property="productOrderId" column="productOrderId" jdbcType="INTEGER"/>
        <result property="productOrderCode" column="productOrderCode" jdbcType="VARCHAR"/>
        <result property="productOrderAddress" column="productOrderAddress" jdbcType="CHAR"/>
        <result property="productOrderDetailAddress" column="productOrderDetailAddress" jdbcType="VARCHAR"/>
        <result property="productOrderPost" column="productOrderPost" jdbcType="CHAR"/>
        <result property="productOrderReceiver" column="productOrderReceiver" jdbcType="VARCHAR"/>
        <result property="productOrderMobile" column="productOrderMobile" jdbcType="CHAR"/>
        <result property="productOrderPayDate" column="productOrderPayDate" jdbcType="TIMESTAMP"/>
        <result property="productOrderDeliveryDate" column="productOrderDeliveryDate" jdbcType="TIMESTAMP"/>
        <result property="productOrderConfirmDate" column="productOrderConfirmDate" jdbcType="TIMESTAMP"/>
        <result property="productOrderStatus" column="productOrderStatus" jdbcType="TINYINT"/>
        <result property="productOrderUserId" column="productOrderUserId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        productOrderId,productOrderCode,productOrderAddress,
        productOrderDetailAddress,productOrderPost,productOrderReceiver,
        productOrderMobile,productOrderPayDate,productOrderDeliveryDate,
        productOrderConfirmDate,productOrderStatus,productOrderUserId
    </sql>

    <select id="getTotalTransactionCountByProductId" resultType="java.lang.Integer">
        select count(*)
        from productorder pt
                 left join productorderitem poi on pt.productOrderId = poi.productOrderItemOrderId
        where pt.productOrderStatus = 3
          and poi.productOrderItemProductId = #{productId};
    </select>

    <select id="getMyAllOrder" resultType="com.lt.vo.ProductOrderVO">
        select p.productId,
        pt.productOrderId,
        pt.productOrderCode,
        pt.productOrderPayDate,
        p.productName,
        p.productSalePrice,
        poi.productOrderItemNumber,
        poi.productOrderItemPrice,
        pt.productOrderStatus
        from productorder pt
        left join productorderitem poi on poi.productOrderItemOrderId = pt.productOrderId
        left join product p on poi.productOrderItemProductId = p.productId
        <where>
            p.productIsEnabled != 1
            and pt.productOrderUserId = #{userId}
            <if test="productName != null">
                and productName like concat('%', #{productName}, '%')
            </if>
        </where>
    </select>

    <select id="getMyAllOrderByType" resultType="com.lt.vo.ProductOrderVO">
        select p.productId,
        pt.productOrderId,
        pt.productOrderCode,
        pt.productOrderPayDate,
        p.productName,
        p.productSalePrice,
        poi.productOrderItemNumber,
        poi.productOrderItemPrice,
        pt.productOrderStatus
        from productorder pt
        left join productorderitem poi on poi.productOrderItemOrderId = pt.productOrderId
        left join product p on poi.productOrderItemProductId = p.productId
        <where>
            p.productIsEnabled != 1
            and pt.productOrderUserId = #{userId}
            and pt.productOrderStatus = #{type}
            <if test="productName != null">
                and productName like concat('%', #{productName}, '%')
            </if>
        </where>
    </select>
</mapper>
