<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.lt.entity.Product">
        <id property="productId" column="productId" jdbcType="INTEGER"/>
        <result property="productName" column="productName" jdbcType="VARCHAR"/>
        <result property="productTitle" column="productTitle" jdbcType="VARCHAR"/>
        <result property="productPrice" column="productPrice" jdbcType="DECIMAL"/>
        <result property="productSalePrice" column="productSalePrice" jdbcType="DECIMAL"/>
        <result property="productCreateDate" column="productCreateDate" jdbcType="TIMESTAMP"/>
        <result property="productCategoryId" column="productCategoryId" jdbcType="INTEGER"/>
        <result property="productIsEnabled" column="productIsEnabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        productId,productName,productTitle,
        productPrice,productSalePrice,productCreateDate,
        productCategoryId,productIsEnabled
    </sql>

</mapper>
